<!DOCTYPE html>
<html>
	<head> 
        <link rel="stylesheet" href="./css/styles.css"> 

    </head>

	<body>
		<!-- <h1>{{title}}</h1> -->
        {{>header}}
        <img src="/img/beautycutie.jpg">
        {{!-- <p style="font-weight: bold; color:palevioletred">
            Created by {{name}}
        </p> --}}
        {{>footer}}
        
	</body>
</html>
