<!DOCTYPE html>
<html>
	<head> 
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 

    </head>

	<body>
        <div class="main-content">
            <!-- <h1>{{title}}</h1> -->
            {{>header}}
            <img class="portrait" src="/img/beautycutie.jpg">
            {{!-- <p style="font-weight: bold; color:palevioletred">
                Created by {{name}}
            </p> --}}
        </div>
		
        {{>footer}}
        
	</body>
</html>
