<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 

    </head>

    <body>

        <div class="main-content">
            <!--render a partial-->
            {{>header}}
            <!-- <h1>{{title}}</h1> -->
            <p style="color:palevioletred">{{helpText}}</p>
            {{!-- <p style="font-weight: bold; color:palevioletred">
                Created by {{name}}
            </p> --}}
        </div>
        
        {{>footer}}

    </body>
</html>