<!--index.html means it will get served up by default, 
    this is the page that will eventually show up at the root of our website-->

<!DOCTYPE html>

<html>
    <head>
        <title>Weathers</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 
        <!-- or <link rel="stylesheet" href="/css/styles.css"> (/ goes to root of browser(public))-->

        <!--link is an empty element which means it does not have a closing tag-->
        <!--we set up link to attributes(key value pairs), allowing us to define specific values-->

        
    </head>

    <body>
        <div class="main-content">
            <!-- <h1>{{title}}</h1> -->
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

        </div>
        {{!-- this takes up all of the space available --}}


        {{!-- <p style="font-weight: bold; color:palevioletred">Created by {{name}}</p> --}}
        {{>footer}}
        {{!-- footer is pushed to the bottom of the page --}}


        <script src="/js/app.js"></script>

    </body>
    



</html> 