<!DOCTYPE html>
<html>
	<head> 
        <link rel="stylesheet" href="./css/styles.css"> 

    </head>

	<body>
		<h1>{{title}}</h1>
        <img src="/img/beautycutie.jpg">
        <p style="font-weight: bold; color:palevioletred">
            Created by {{name}}
        </p>
        
	</body>
</html>
